<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3">
  <Applications>
    <Application
      Name="NonPersistentObjectsDemoWin"
      FileName="[ConfigPath]\..\NonPersistentObjectsDemo.Win\Bin\EasyTest\NonPersistentObjectsDemo.Win.exe"
      AdapterFileName="[WinAdapterFileName]"
      CommunicationPort="4100"/>
    <Application
      Name="NonPersistentObjectsDemoWeb"
      UseIISExpress="true"
      Url="http://localhost:42164/"
      PhysicalPath="[ConfigPath]\..\NonPersistentObjectsDemo.Web"
      AdapterFileName="[WebAdapterFileName]"
      IgnoreCase="true"
      />
  </Applications>
  <Aliases>
    <Alias Name="RootUrl" Value="http://localhost:" />
    <Alias Name="Version" Value="20.2" />

    <Alias Name="DBServerName" Value="(localdb)\mssqllocaldb" />

    <Alias Name="RootXafPath" Value="" ProfileName="Farm" />
    <!-- updated in RunTests.cmd on workers -->
    <Alias Name="RootXafPath" Value="D:\20[Version]\XAF" />

    <Alias Name="WinAdapterFileName" Value="[RootXafPath]\Bin\Framework4\DevExpress.ExpressApp.EasyTest.InternalWinAdapter.v[Version].dll" />
    <Alias Name="WebAdapterFileName" Value="[RootXafPath]\Bin\Framework4\DevExpress.ExpressApp.EasyTest.InternalWebAdapter.v[Version].dll" />
  </Aliases>
</Options>